<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/run-python" name="userData" method="get">
      <input type="text" name="memberNumber" id="memberNumber" />
      <input type="text" name="memberPassword" id="memberPassword" />
      <input type="text" name="dep" id="dep" />
      <input type="text" name="arr" id="arr" />
      <input type="text" name="date" id="date" />
      <input type="text" name="time" id="time" />
      <button type="submit">제출</button>
    </form>
  </body>
</html>
