<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>dynamic form</h1>

    <form action="" name="register">
      <label for="name">이름</label>
      <input type="text" name="name" id="name" />
      <br />

      성별
      <input type="radio" name="gender" value="남자" id="male" />
      <label for="male">남자</label>
      <input type="radio" name="gender" value="여자" id="female" />
      <label for="female">여자</label>
      <br />

      <button type="button" onclick="ajaxGet()">ajax get 버튼</button>
    </form>
    <div class="result"></div>
    <script>
      function ajaxGet() {
        console.log("click ajax get");

        // 폼 선택하기
        const forms = document.forms["register"];
        console.log(forms);

        // const formInfo = {
        //   name : ,
        //   gender :
        // }

        // $.ajax({
        //   url: '/ajax',
        //   type: 'GET',
        //   data: formInfo,
        // })
      }
    </script>
  </body>
</html>
