* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  background-color: #ddd;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 2rem;
  }

  .menu-item {
    margin: 0 8px;
  }
}

.Mainpage {
  background-color: orange;
  min-height: 100vh;
}

.Product {
  background-color: aqua;
  min-height: 100vh;
}

.ProductDetail {
  background-color: aquamarine;
  min-height: 100vh;
  ul {
    width: 60vh;
    margin: 0 auto;
    padding: 30px;
  }
  h1 {
    width: 60vh;
    text-align: left;
    margin: 0 auto;
  }
  h3 {
    width: 60vh;
    text-align: left;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.NotFound {
  background-color: black;
  min-height: 100vh;
}

.ProductItem {
  list-style: none;
  background-color: white;
  width: 80vw;
  margin: 30px auto 0 auto;
  &:hover {
    font-weight: 700;
    cursor: pointer;
  }
}
