@import "./utils.scss";

.app {
  min-width: 600px;
  width: 40%;
  height: 80vh;
  top: 10vh;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
}
