.d-block {
    display: block;
    background-color: blueviolet;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 20px;
}

.d-inline {
    display: inline;
    background-color: red;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    margin: 20px;
    /* padding: 30px; */
}

.d-inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 30px;
    padding: 20px;
}

.parent {
    width: 500px;
    height: 200px;
    background-color: red;
}

.parent .min {
    min-width: 400px;
    background-color: orange;
    height: 100px;
}

.parent .max {
    max-width: 400px;
    background-color: green;
    height: 100px;
}

.box {
    background-color: aqua;
    border: 1px solid gray;
}

.box-px {
    width: 50px;
    height: 50px;
}

.box-view {
    width: 10vw;
    height: 10vh;
}

.box-per {
    width: 10%;
    height: 10%;
}

.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.border {
    border: 3px solid black;
    /* border-style: dashed; */
    border-color: blue;
    border-color: red orange yellow green;
    border-left: 5px dotted slateblue;
    border-top-style: dashed;
}

.rounded {
    background-color: thistle;
    border-radius: 10px;
    border-radius: 10px 40px;
    border-radius: 10px 20px 40px;
    border-radius: 2vw;
    border-radius: 50%;
    border-radius: 10px 30px 40px 600px;
}

.box-sizing {
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}

.d-none {
    /* display: none; */
    background-color: #111;
}

.invisible {
    /* visibility: hidden; */
    background-color: #555;
}

.opacity-0 {
    /* opacity: 0; */
    background-color: #999;
}

.square2{
    width: 200px;
    height: 200px;
    background-color: blue;
    opacity: 0.5;
}
.square2:hover{
    opacity: 0.1;
}

img{
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.overflow-scroll{
    overflow: scroll;
}
.overflow-visible{
    overflow: visible;
}   
