/* .container{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}
div{
    width: 100px;
    height: 100px;
}
.container *:first-child{
    background-color: aquamarine;
    position: relative;
    left: 50px;
    top: 30px;
}
.container *:nth-child(2){
    background-color: aqua;
    position: absolute;
    right: 30px;
    bottom: 100px;
}
.container *:last-child{
    background-color: bisque;
    position: fixed;
    right: 100px;
    top: 100px;
} */
.parent {
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    background-color: #9afaff;
    top: 0;
    left: 200px;
}

.circle2 {
    background-color: #84ff8d;
    top: 0;
    left: 150px;
    z-index: 2;
}

.circle3 {
    background-color: #ffeb88;
    top: 0;
    left: 100px;
    z-index: 3;
}

.circle4 {
    background-color: #ffb680;
    top: 0;
    left: 50px;
    z-index: 2;
}

.circle5 {
    top: 0;
    left: 0;
    background-color: #ff7c7c;
}

.container{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}
.container > div {
    background-color: #ffb680;
    width: 100px;
    height: 100px;
}
.container > div:first-child{
    position: absolute;
    z-index: 5;
}

.container > div:nth-child(2){
    background-color: #ffeb88;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 0;
}

.container > div:last-child{
    background-color: #9afaff;
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 1;
}
