<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자동매매</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script>
      async function apiCall() {
        const data = await fetch(
          "https://cors.bridged.cc//http://127.0.0.1:8000/secondpage"
        );
        console.log(data);
      }
      apiCall();
    </script>
  </body>
</html>
