.img-box{
    width: 400px;
    height: 250px;
    background-color: blueviolet;
}

img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid black;
}

img:hover{
    transform: translate(100px,100px);
    transform: perspective(200px) translateZ(100px);
    transform: perspective(600px)translate3d(0,0,100px);

    transform: scale();
}